// ========== Google font
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Dancing+Script&family=Great+Vibes&family=Lora:wght@500&family=Nunito:wght@500&family=Playfair:wght@800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab&family=Rubik+Pixels&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Dancing+Script&family=Great+Vibes&family=Lora:wght@500&family=Nunito:wght@500&family=Playfair:wght@800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab&family=Rubik+Pixels&display=swap");

// ========== Variables

$bg-white-50: #fff;
$bg-white-100: #f5f5f5;
$bg-secondary-50: rgb(235, 146, 31);

$text-prl-50: #fff;
$text-sec-50: rgb(235, 146, 31);
$text-sec-100: rgb(218, 128, 26);
$text-black-50: #000;
$text-black-100: rgb(24, 24, 24);

$line-border: 0.1px solid rgba(0, 0, 0, 0.4);

$handwriting-font: "Great Vibes", cursive;

$shadow: 0 5px 20px rgba(0, 0, 0, 0.05);

// ========== Global settings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  text-decoration: none;
  list-style: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

// ========== Base
body {
  font-size: 16px;
  line-height: 1.5;
}

:before,
:after {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
}

// ========== Section Tittle
.titleText {
  .section-title {
    background: transparent;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 60px;

    h2 {
      font-size: 36px;
      text-transform: capitalize;
      color: $text-sec-50;

      &::before {
        content: attr(data-title);
        display: block;
        font-size: 28px;
        color: $text-black-50;
        font-family: $handwriting-font;
        font-weight: 500;
        text-transform: capitalize;
      }
    }
  }
}
// ========== Button settings
.btn-1 {
  font-size: 16px;
  color: $text-sec-50;
  border: 1px solid $bg-secondary-50;
  border-radius: 30px;
  display: inline-block;
  text-transform: capitalize;
  letter-spacing: 1.5;
  transition: 0.5s;
  font-weight: 500;
  cursor: pointer;
  padding: 6px 20px;
  max-width: 100px;
  background: transparent;

  &:hover {
    color: $bg-white-50;
    background: $bg-secondary-50;
  }
}

// ========== Keyframes
@keyframes fadeIn {
  0% {
    opacity: 0%;
    transform: translate(-25px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
// ========== Page Loader
.page-loader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: $bg-white-50;
  z-index: 999;
  transition: all 0.6s ease;

  .icon {
    position: absolute;
    display: flex;
    width: 200px;
    height: 200px;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    justify-content: center;
    align-items: center;

    &.fade-out {
      opacity: 0;
    }
  }
}

// ========== Navigation bar
header {
  //background-color: rgb(200, 113, 113);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 20px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;

  &.sticky {
    background: $bg-white-50;
    padding: 20px;
    box-shadow: $shadow;

    .logo {
      span {
        color: $text-black-50;
      }
    }

    .nav {
      li {
        a {
          color: $text-sec-50;
          &:hover {
            color: $text-black-50;
          }
        }
      }
    }
  }

  .logo {
    color: $text-sec-50;
    font-weight: 700;
    font-size: 40px;
    text-decoration: none;

    span {
      color: $text-prl-50;
    }
  }
  .nav {
    position: relative;
    display: flex;

    li {
      margin: 0 0 0 30px;

      a {
        color: $text-prl-50;
        font-weight: 550;
        text-transform: capitalize;

        &:hover {
          color: $text-sec-50;
        }
      }
    }
  }
}

// ========== Landing page
.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(../images/w1.jpg) no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
  }

  .content {
    max-width: 900px;
    text-align: center;
    z-index: 2;

    h2 {
      font-size: 80px;
      font-weight: 600;
      font-family: $handwriting-font;
      color: $text-prl-50;
    }
    p {
      font-size: 20px;
      font-weight: 500;
      color: whitesmoke;
      margin-bottom: 20px;
    }
    a {
      color: $text-prl-50;
      border: $text-prl-50 1px solid;
      max-width: 200px;

      &:hover {
        background: $bg-white-50;
        color: $text-sec-50;
      }
    }
  }
}

// ========== About section
.about {
  min-height: 100vh;
  padding: 100px 0 0;

  .container {
    .row {
      display: flex;
      width: 97%;
      padding: 20px 15px 100px 20px;
      justify-content: space-between;

      .about-img {
        position: relative;
        width: 50%;

        .img-bx {
          position: relative;

          img {
            position: relative;
            object-fit: cover;
            border-radius: 10px;
          }
        }
      }

      .about-text {
        position: relative;
        width: 45%;
        height: 100%;

        .text-bx {
          h3 {
            font-size: 32px;
            margin-bottom: 15px;
            color: $text-sec-50;
            text-transform: capitalize;
          }

          p {
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 10px;
          }

          a {
            margin-top: 15px;
            max-width: 250px;
          }
        }
      }

      &:nth-of-type(3) {
        padding-bottom: 64px;

        .about-text {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
// ========== Service section

.service {
  min-height: 5vh;
  padding: 5px 0 0;

  .container {
    .row {
      @include grid(20rem);
      height: 300px;
      background: url(../images/p5.jpg);
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      position: relative;
      border-radius: 20px;
      overflow: hidden;
      z-index: 1;
      align-items: center;
      justify-content: center;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: -1;
      }

      .box {
        text-align: center;
        padding: 20px;

        i {
          height: 40px;
          width: 40px;
          line-height: 40px;
          font-size: 20px;
          color: $text-black-50;
          background: $text-sec-50;
          border-radius: 50%;
          margin-bottom: 10px;
        }

        h3 {
          color: $bg-white-50;
          text-transform: capitalize;
        }

        p {
          color: $bg-white-50;
        }
      }
    }
    .button {
      width: 100%;
      padding: 40px;
      display: flex;
      justify-content: center;

      .btn-1 {
        max-width: 150px;
      }
    }
  }
}
// ========== Menu section

.menu {
  min-height: 100vh;
  padding: 100px 0;

  .container {
    .row {
      @include grid(15rem);
      justify-content: center;
      padding: 0 15px;
      width: 100%;
      justify-items: center;
      gap: 10px;

      .menu-tabs {
        padding: 0 15px 50px;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;

        .tab-item {
          display: inline-block;
          margin: 0 5px 10px 5px;
          cursor: pointer;
          padding: 6px 20px;
          border-radius: 20px;
          transition: all 0.3s ease;
          color: $text-black-50;
          font-weight: 500;
          text-transform: capitalize;

          &:hover {
            &:not(.active) {
              opacity: 0.6;
            }
          }

          &.active {
            color: $text-sec-50;
            border: 1px solid $bg-secondary-50;
            display: inline-block;
            transition: all 0.5s ease;
            cursor: pointer;
          }
        }
      }

      .item {
        position: relative;
        border-radius: 10px;
        background: $bg-white-50;
        max-width: 15rem;
        //padding: 15px;
        text-align: center;
        overflow: hidden;
        box-shadow: $shadow;

        &:hover {
          .icons {
            top: 0;
          }
        }

        &.hide {
          display: none;
        }
        &.show {
          display: block;
          animation: fadeIn 0.5s ease;
        }

        .icons {
          position: absolute;
          top: 115%;
          left: 0;
          height: 250;
          width: 100%;
          gap: 10px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          transition: all 0.4s ease;

          a {
            font-size: 18px;
            height: 20px;
            width: 20px;
            line-height: 20px;
            color: $text-prl-50;
            margin: 0 10px 10px 0;

            &:hover {
              color: $text-sec-50;
            }
          }
        }

        .image {
          height: 250px;
          width: 100%;
          overflow: hidden;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        .content {
          padding: 10px;
          align-items: center;
          text-align: left;

          h3 {
            font-size: 20px;
            color: $text-sec-50;
            text-transform: capitalize;
          }

          .info {
            display: flex;
            justify-content: space-between;
            font-size: 10px;
            color: $text-black-50;

            .price {
              color: $text-black-50;

              span {
                font-weight: 600;
                font-size: 18px;
                color: $text-sec-50;
              }
            }

            i {
              color: $bg-secondary-50; //

              span {
                font-weight: 400;
                margin: 0 0 0 1px;
                color: $text-black-50;
              }
            }
          }

          .category {
            display: flex;
            flex-wrap: wrap;
            margin: 10px 0 0;
            justify-content: space-between;

            .cat-item {
              font-size: 12px;
              color: $text-black-50;
              opacity: 0.5;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

// ========== Testimonials section

.testi {
  min-height: 100vh;
  padding: 100px 0;
  background: url(../images/bg.jpg) repeat;
  background-size: 250px 250px;

  .titleText {
    .section-title {
      h2 {
        &::before {
          content: attr(data-title);
          color: $bg-white-50;
        }
      }
    }
  }

  .row {
    @include grid(20rem);
    justify-content: center;
    padding: 0 15px;
    width: 100%;
    justify-content: center;

    .testi-item {
      background: $bg-white-50;
      border-radius: 10px;
      padding: 20px;
      margin: 10px;

      .user {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: 1.5rem;

        img {
          height: 60px;
          width: 60px;
          border-radius: 50%;
        }

        .info {
          h3 {
            text-transform: capitalize;
            color: $text-sec-50;
          }
          span {
            text-transform: capitalize;
            font-style: italic;
            opacity: 0.7;
          }
        }
      }
      p {
        margin: 0 0 10px;
      }
    }
  }
}

// ========== Gallery section

.gallery {
  min-height: 100vh;
  padding: 100px 0 0;

  .container {
    .row {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(4, 250px);
      grid-template-rows: repeat(3, 250px);
      gap: 15px;

      &:hover {
        .photo {
          img {
            opacity: 0.5;
          }
        }
      }

      .photo {
        border-radius: 10px;
        overflow: hidden;

        &:nth-child(2) {
          grid-column: span 2;

          img {
            height: 100%;
            width: 100%;
          }
        }

        &:nth-child(3) {
          grid-row: span 2;

          img {
            height: 100%;
          }
        }

        &:nth-child(4) {
          grid-row: span 2;

          img {
            height: 100%;
          }
        }

        &:nth-child(8) {
          grid-column: span 2;

          img {
            height: 100%;
            width: 100%;
          }
        }

        img {
          min-height: 250px;
          min-width: 250px;
          object-fit: cover;
          transition: all 0.3s linear;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
    .button {
      width: 100%;
      padding: 40px 0 0;
      display: flex;
      justify-content: center;

      .btn-1 {
        max-width: 150px;
      }
    }
  }
}

// ========== Team section

.team {
  min-height: 100vh;
  padding: 100px 0;

  .container {
    .row {
      @include grid(20rem);
      justify-items: center;
      justify-content: center;
      width: 100%;
      padding: 0 15px;

      .team-item {
        position: relative;
        height: 520px;
        width: 300px;
        overflow: hidden;
        box-shadow: $shadow;
        border-radius: 20px;

        &:not(:last-child) {
          margin-bottom: 30px;
        }

        .icons {
          top: 0;
          left: 0;
          position: absolute;
          height: 450px;
          width: 100%;
          gap: 10px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: flex-end;
          z-index: 5;
          transform: translateX(50px);
          transition: all 0.5s ease;

          a {
            position: relative;
            font-size: 18px;
            height: 20px;
            width: 20px;
            line-height: 20px;
            color: $text-prl-50;
            margin: 0 10px 10px 0;

            &:hover {
              color: $text-sec-50;
            }
          }
        }

        &:hover {
          transition: all 0.5s ease;
          background: $bg-secondary-50;

          .team-item-info {
            color: $text-prl-50;
          }

          .icons {
            transform: translateX(0);
            transition: all 0.5s ease;
          }
        }

        .image {
          img {
            object-fit: cover;
            height: 450px;
            width: 100%;
          }
        }

        .team-item-info {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 50px;
          align-items: center;
          justify-content: center;

          h3 {
            text-transform: capitalize;
          }

          p {
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 300;
            font-style: italic;
            opacity: 0.6;
          }
        }
      }
    }
  }
}
// ========== Blog section

.blog {
  min-height: 100vh;
  padding: 10px 0;

  .container {
    .blog-box {
      @include grid(20rem);
      position: relative;
      justify-items: center;
      justify-content: space-between;
      padding-left: 35px;

      .blog-item {
        max-width: 20rem;
        border-radius: 10px;
        box-shadow: $shadow;
        margin: 10px;
        overflow: hidden;

        &:hover .image img {
          transform: scale(1.05);
        }

        .image {
          height: 200px;
          width: 100%;
          overflow: hidden;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all 0.3s linear;
          }
        }
        .content {
          padding: 10px 5px;

          .icons {
            border-bottom: $line-border;
            display: flex;
            padding: 0 10px 10px 10px;
            align-items: center;
            justify-content: space-between;

            a {
              font-size: 10px;
              color: $text-black-50;
              text-transform: capitalize;

              &:hover {
                color: $text-sec-50;
              }

              i {
                color: $text-sec-50;
                padding-right: 0.5rem;
              }
            }
          }

          h3 {
            margin: 0 10px;
            font-size: 26px;
            color: $text-sec-50;
            text-transform: capitalize;
          }

          p {
            margin: 0 10px;
            font-size: 16px;
            color: $text-black-50;
            text-transform: capitalize;
          }

          a {
            margin: 10px;
            max-width: 200px;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
// ========== Contact section

.contact {
  padding: 20px 0 0 0;
  min-height: 100vh;

  .banner {
    position: absolute;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background: no-repeat;
      position: absolute;
      z-index: -1;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100px;
      z-index: 1;
      background: linear-gradient(to bottom, #fff, transparent);
    }
  }

  .container {
    .formBox {
      display: flex;
      position: relative;
      width: 100%;
      flex: 0 0 50%;
      margin-top: 35px;
      padding: 40px;
      justify-content: space-between;

      .row {
        background: $bg-white-50;
        width: 40%;
        height: 450px;
        border-radius: 10px;
        box-shadow: $shadow;
        padding: 20px;

        h3 {
          color: $text-sec-50;
          font-size: 20px;
          margin: 10px 0 10px 0;
          font-weight: 600;
        }

        .inputBox:not(:last-child) {
          position: relative;
          width: 100%;
          margin-bottom: 10px;

          input,
          textarea {
            width: 100%;
            background: $bg-white-100;
            border-radius: 5px;
            border: 1px solid $bg-white-50;
            padding: 10px;
            color: $text-sec-100;
            outline: none;
            font-size: 16px;
            font-weight: 300;
            resize: none;

            &:hover {
              border: 1px solid $bg-secondary-50;
            }

            &:focus {
              border: 1px solid $bg-secondary-50;
            }
          }
        }
      }
    }

    /* .contactBox {
      display: flex;
      position: relative;
      width: 100%;
      flex: 0 0 50%;
      padding: 20px;
      justify-content: space-between;

      .row {
        background: $bg-white-50;
        width: 35%;
        height: 50%;
        border-radius: 10px;
        box-shadow: $shadow;
        padding: 20px;

        .contactItem {
          width: 100%;
          display: flex;
          flex-direction: column;

          &:not(:last-child) {
            margin-bottom: 10px;
          }

          span {
            text-transform: capitalize;
            font-weight: 600;
            color: $text-sec-50;
          }
        }
      }
    } */
  }
}

// ========== Copyright Section

.cp {
  margin: 17px 0 0 0;
  background: $bg-white-50;
  padding: 1px 30px;
  text-align: center;
  width: 100%;
  justify-content: center;

  p {
    color: $text-black-50;
  }

  a {
    color: $text-sec-50;
    font-weight: 400;
    text-decoration: none;
  }
}

// ========== Media queries

// ========== For laptop
@media (max-width: 996px) {
  header,
  header.sticky {
    padding: 10px 30px;

    .nav {
      &.active {
        li {
          a {
            color: $text-sec-50;
            font-size: 28px;
            font-weight: 500;
            transition: all 0.5s ease;

            &:hover {
              color: $text-black-50;
            }
          }
        }
      }
    }
  }

  header {
    &.sticky {
      .menuToggle {
        filter: invert(0);
      }
    }
    .menuToggle {
      position: relative;
      width: 40px;
      height: 40px;
      background: url(../images/menu-bar.png);
      cursor: pointer;
      filter: invert(1);

      &.active {
        background: url(../images/close-bar.png);
        background-size: 40px;
        filter: invert(0);
        z-index: 100000;
      }
    }

    .nav {
      top: 0;
      left: 0;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      background: $bg-white-50;
      position: fixed;
      width: 100%;
      height: 100%;
      transform: translateX(1000px);
      transition: all 0.5s ease;

      &.active {
        transform: translate(0);
        transform-origin: left;
      }
    }
  }

  .about {
    .container {
      .row {
        .about-text {
          .text-bx {
            h3 {
              font-size: 20px;
            }
            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  .service {
    .container {
      .row {
        justify-content: center;
        height: 700px;
        margin: 0 50px;
        display: flex;
        flex-direction: row;
      }
    }
  }
  .gallery {
    .container {
      margin: 0 20px;

      .row {
        grid-template-columns: repeat(3, 225px);
        grid-template-rows: repeat(4, 225px);
      }
    }
  }

  .blog {
    .container {
      .blog-box {
        .content {
          .icons {
            flex-direction: column;
            align-items: flex-start;
            padding: 0;

            a {
              margin: 5px;
            }
          }
        }
      }
    }
  }

  .contact {
    min-height: 90vh;

    .container {
      .formBox {
        width: 150%;
      }

      .contactBox {
        .row {
          flex: 0 0 50%;
          align-items: flex-start;
        }
      }
    }
  }
}

// ========== For Tablet
@media (max-width: 768px) {
  .about {
    .container {
      .row {
        flex-direction: column;
        padding: 20px;

        &:last-child {
          flex-direction: column-reverse;
        }
        .about-img,
        .about-text {
          width: 100%;
        }

        .about-img {
          margin-bottom: 20px;
        }
      }
    }
  }
  .gallery {
    .container {
      .row {
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: repeat(4, 200px);
      }
    }
  }

  .contact {
    margin: auto;

    .banner {
      display: none;
    }
    .container {
      display: flex;
      flex-direction: row;
      padding: 0 10px;
      margin: 0 10px;
      justify-content: center;
      align-items: center;

      .formBox {
        flex: 0 0 55%;

        .row {
          width: 100%;
          justify-content: center;
        }
      }

      .contactBox {
        align-items: center;
        flex-direction: 0 0 40%;
      }
    }
  }
}

// ========== For Mobile
@media (max-width: 425px) {
  section {
    padding: 0 15px;
    width: 100%;
    height: 100%;
  }

  .home {
    .content {
      margin: 0 20px;

      h2 {
        font-size: 56px;
      }

      p {
        font-size: 10px;
      }
    }
  }

  .about {
    .container {
      .row {
        .about-text {
          text-align: center;
        }
      }
    }
  }

  .menu {
    .container {
      .row {
        .item {
          &:not(:last-child) {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .gallery {
    .conatiner {
      .row {
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(6, 150px);

        .photo {
          &:nth-child(7) {
            grid-column-start: 2;
            grid-row-start: 1;
          }
        }
      }
    }
  }
  .contact {
    .container {
      flex-direction: column;

      .formBox {
        flex: 0 0 100%;
        width: 100%;
        padding: 50px 15px 20px 15px;
      }

      .contactBox {
        padding: 0 15px;
        flex: 0 0 100%;

        .row {
          align-items: center;
          flex-direction: row;
          width: 100%;
        }
      }
    }
  }
}
