@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Dancing+Script&family=Great+Vibes&family=Lora:wght@500&family=Nunito:wght@500&family=Playfair:wght@800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab&family=Rubik+Pixels&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Dancing+Script&family=Great+Vibes&family=Lora:wght@500&family=Nunito:wght@500&family=Playfair:wght@800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab&family=Rubik+Pixels&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  text-decoration: none;
  list-style: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

:before,
:after {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.titleText .section-title {
  background: transparent;
  padding: 0 15px;
  text-align: center;
  margin-bottom: 60px;
}
.titleText .section-title h2 {
  font-size: 36px;
  text-transform: capitalize;
  color: rgb(235, 146, 31);
}
.titleText .section-title h2::before {
  content: attr(data-title);
  display: block;
  font-size: 28px;
  color: #000;
  font-family: "Great Vibes", cursive;
  font-weight: 500;
  text-transform: capitalize;
}

.btn-1 {
  font-size: 16px;
  color: rgb(235, 146, 31);
  border: 1px solid rgb(235, 146, 31);
  border-radius: 30px;
  display: inline-block;
  text-transform: capitalize;
  letter-spacing: 1.5;
  transition: 0.5s;
  font-weight: 500;
  cursor: pointer;
  padding: 6px 20px;
  max-width: 100px;
  background: transparent;
}
.btn-1:hover {
  color: #fff;
  background: rgb(235, 146, 31);
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
    transform: translate(-25px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
.page-loader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 999;
  transition: all 0.6s ease;
}
.page-loader .icon {
  position: absolute;
  display: flex;
  width: 200px;
  height: 200px;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  justify-content: center;
  align-items: center;
}
.page-loader .icon.fade-out {
  opacity: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 20px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header.sticky {
  background: #fff;
  padding: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header.sticky .logo span {
  color: #000;
}
header.sticky .nav li a {
  color: rgb(235, 146, 31);
}
header.sticky .nav li a:hover {
  color: #000;
}
header .logo {
  color: rgb(235, 146, 31);
  font-weight: 700;
  font-size: 40px;
  text-decoration: none;
}
header .logo span {
  color: #fff;
}
header .nav {
  position: relative;
  display: flex;
}
header .nav li {
  margin: 0 0 0 30px;
}
header .nav li a {
  color: #fff;
  font-weight: 550;
  text-transform: capitalize;
}
header .nav li a:hover {
  color: rgb(235, 146, 31);
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(../images/w1.jpg) no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;
}
.home:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
}
.home .content {
  max-width: 900px;
  text-align: center;
  z-index: 2;
}
.home .content h2 {
  font-size: 80px;
  font-weight: 600;
  font-family: "Great Vibes", cursive;
  color: #fff;
}
.home .content p {
  font-size: 20px;
  font-weight: 500;
  color: whitesmoke;
  margin-bottom: 20px;
}
.home .content a {
  color: #fff;
  border: #fff 1px solid;
  max-width: 200px;
}
.home .content a:hover {
  background: #fff;
  color: rgb(235, 146, 31);
}

.about {
  min-height: 100vh;
  padding: 100px 0 0;
}
.about .container .row {
  display: flex;
  width: 97%;
  padding: 20px 15px 100px 20px;
  justify-content: space-between;
}
.about .container .row .about-img {
  position: relative;
  width: 50%;
}
.about .container .row .about-img .img-bx {
  position: relative;
}
.about .container .row .about-img .img-bx img {
  position: relative;
  object-fit: cover;
  border-radius: 10px;
}
.about .container .row .about-text {
  position: relative;
  width: 45%;
  height: 100%;
}
.about .container .row .about-text .text-bx h3 {
  font-size: 32px;
  margin-bottom: 15px;
  color: rgb(235, 146, 31);
  text-transform: capitalize;
}
.about .container .row .about-text .text-bx p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.about .container .row .about-text .text-bx a {
  margin-top: 15px;
  max-width: 250px;
}
.about .container .row:nth-of-type(3) {
  padding-bottom: 64px;
}
.about .container .row:nth-of-type(3) .about-text {
  width: 100%;
  text-align: center;
}

.service {
  min-height: 5vh;
  padding: 5px 0 0;
}
.service .container .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  height: 300px;
  background: url(../images/p5.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  z-index: 1;
  align-items: center;
  justify-content: center;
}
.service .container .row::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.service .container .row .box {
  text-align: center;
  padding: 20px;
}
.service .container .row .box i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: rgb(235, 146, 31);
  border-radius: 50%;
  margin-bottom: 10px;
}
.service .container .row .box h3 {
  color: #fff;
  text-transform: capitalize;
}
.service .container .row .box p {
  color: #fff;
}
.service .container .button {
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
}
.service .container .button .btn-1 {
  max-width: 150px;
}

.menu {
  min-height: 100vh;
  padding: 100px 0;
}
.menu .container .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-content: center;
  padding: 0 15px;
  width: 100%;
  justify-items: center;
  gap: 10px;
}
.menu .container .row .menu-tabs {
  padding: 0 15px 50px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}
.menu .container .row .menu-tabs .tab-item {
  display: inline-block;
  margin: 0 5px 10px 5px;
  cursor: pointer;
  padding: 6px 20px;
  border-radius: 20px;
  transition: all 0.3s ease;
  color: #000;
  font-weight: 500;
  text-transform: capitalize;
}
.menu .container .row .menu-tabs .tab-item:hover:not(.active) {
  opacity: 0.6;
}
.menu .container .row .menu-tabs .tab-item.active {
  color: rgb(235, 146, 31);
  border: 1px solid rgb(235, 146, 31);
  display: inline-block;
  transition: all 0.5s ease;
  cursor: pointer;
}
.menu .container .row .item {
  position: relative;
  border-radius: 10px;
  background: #fff;
  max-width: 15rem;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
.menu .container .row .item:hover .icons {
  top: 0;
}
.menu .container .row .item.hide {
  display: none;
}
.menu .container .row .item.show {
  display: block;
  animation: fadeIn 0.5s ease;
}
.menu .container .row .item .icons {
  position: absolute;
  top: 115%;
  left: 0;
  height: 250;
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: all 0.4s ease;
}
.menu .container .row .item .icons a {
  font-size: 18px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  color: #fff;
  margin: 0 10px 10px 0;
}
.menu .container .row .item .icons a:hover {
  color: rgb(235, 146, 31);
}
.menu .container .row .item .image {
  height: 250px;
  width: 100%;
  overflow: hidden;
}
.menu .container .row .item .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.menu .container .row .item .content {
  padding: 10px;
  align-items: center;
  text-align: left;
}
.menu .container .row .item .content h3 {
  font-size: 20px;
  color: rgb(235, 146, 31);
  text-transform: capitalize;
}
.menu .container .row .item .content .info {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: #000;
}
.menu .container .row .item .content .info .price {
  color: #000;
}
.menu .container .row .item .content .info .price span {
  font-weight: 600;
  font-size: 18px;
  color: rgb(235, 146, 31);
}
.menu .container .row .item .content .info i {
  color: rgb(235, 146, 31);
}
.menu .container .row .item .content .info i span {
  font-weight: 400;
  margin: 0 0 0 1px;
  color: #000;
}
.menu .container .row .item .content .category {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 0;
  justify-content: space-between;
}
.menu .container .row .item .content .category .cat-item {
  font-size: 12px;
  color: #000;
  opacity: 0.5;
  text-decoration: none;
}

.testi {
  min-height: 100vh;
  padding: 100px 0;
  background: url(../images/bg.jpg) repeat;
  background-size: 250px 250px;
}
.testi .titleText .section-title h2::before {
  content: attr(data-title);
  color: #fff;
}
.testi .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-content: center;
  padding: 0 15px;
  width: 100%;
  justify-content: center;
}
.testi .row .testi-item {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}
.testi .row .testi-item .user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
.testi .row .testi-item .user img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.testi .row .testi-item .user .info h3 {
  text-transform: capitalize;
  color: rgb(235, 146, 31);
}
.testi .row .testi-item .user .info span {
  text-transform: capitalize;
  font-style: italic;
  opacity: 0.7;
}
.testi .row .testi-item p {
  margin: 0 0 10px;
}

.gallery {
  min-height: 100vh;
  padding: 100px 0 0;
}
.gallery .container .row {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(3, 250px);
  gap: 15px;
}
.gallery .container .row:hover .photo img {
  opacity: 0.5;
}
.gallery .container .row .photo {
  border-radius: 10px;
  overflow: hidden;
}
.gallery .container .row .photo:nth-child(2) {
  grid-column: span 2;
}
.gallery .container .row .photo:nth-child(2) img {
  height: 100%;
  width: 100%;
}
.gallery .container .row .photo:nth-child(3) {
  grid-row: span 2;
}
.gallery .container .row .photo:nth-child(3) img {
  height: 100%;
}
.gallery .container .row .photo:nth-child(4) {
  grid-row: span 2;
}
.gallery .container .row .photo:nth-child(4) img {
  height: 100%;
}
.gallery .container .row .photo:nth-child(8) {
  grid-column: span 2;
}
.gallery .container .row .photo:nth-child(8) img {
  height: 100%;
  width: 100%;
}
.gallery .container .row .photo img {
  min-height: 250px;
  min-width: 250px;
  object-fit: cover;
  transition: all 0.3s linear;
}
.gallery .container .row .photo img:hover {
  opacity: 1;
}
.gallery .container .button {
  width: 100%;
  padding: 40px 0 0;
  display: flex;
  justify-content: center;
}
.gallery .container .button .btn-1 {
  max-width: 150px;
}

.team {
  min-height: 100vh;
  padding: 100px 0;
}
.team .container .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 15px;
}
.team .container .row .team-item {
  position: relative;
  height: 520px;
  width: 300px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.team .container .row .team-item:not(:last-child) {
  margin-bottom: 30px;
}
.team .container .row .team-item .icons {
  top: 0;
  left: 0;
  position: absolute;
  height: 450px;
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 5;
  transform: translateX(50px);
  transition: all 0.5s ease;
}
.team .container .row .team-item .icons a {
  position: relative;
  font-size: 18px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  color: #fff;
  margin: 0 10px 10px 0;
}
.team .container .row .team-item .icons a:hover {
  color: rgb(235, 146, 31);
}
.team .container .row .team-item:hover {
  transition: all 0.5s ease;
  background: rgb(235, 146, 31);
}
.team .container .row .team-item:hover .team-item-info {
  color: #fff;
}
.team .container .row .team-item:hover .icons {
  transform: translateX(0);
  transition: all 0.5s ease;
}
.team .container .row .team-item .image img {
  object-fit: cover;
  height: 450px;
  width: 100%;
}
.team .container .row .team-item .team-item-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.team .container .row .team-item .team-item-info h3 {
  text-transform: capitalize;
}
.team .container .row .team-item .team-item-info p {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  opacity: 0.6;
}

.blog {
  min-height: 100vh;
  padding: 10px 0;
}
.blog .container .blog-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  position: relative;
  justify-items: center;
  justify-content: space-between;
  padding-left: 35px;
}
.blog .container .blog-box .blog-item {
  max-width: 20rem;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  margin: 10px;
  overflow: hidden;
}
.blog .container .blog-box .blog-item:hover .image img {
  transform: scale(1.05);
}
.blog .container .blog-box .blog-item .image {
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.blog .container .blog-box .blog-item .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s linear;
}
.blog .container .blog-box .blog-item .content {
  padding: 10px 5px;
}
.blog .container .blog-box .blog-item .content .icons {
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  padding: 0 10px 10px 10px;
  align-items: center;
  justify-content: space-between;
}
.blog .container .blog-box .blog-item .content .icons a {
  font-size: 10px;
  color: #000;
  text-transform: capitalize;
}
.blog .container .blog-box .blog-item .content .icons a:hover {
  color: rgb(235, 146, 31);
}
.blog .container .blog-box .blog-item .content .icons a i {
  color: rgb(235, 146, 31);
  padding-right: 0.5rem;
}
.blog .container .blog-box .blog-item .content h3 {
  margin: 0 10px;
  font-size: 26px;
  color: rgb(235, 146, 31);
  text-transform: capitalize;
}
.blog .container .blog-box .blog-item .content p {
  margin: 0 10px;
  font-size: 16px;
  color: #000;
  text-transform: capitalize;
}
.blog .container .blog-box .blog-item .content a {
  margin: 10px;
  max-width: 200px;
  font-size: 14px;
  font-weight: 500;
}

.contact {
  padding: 20px 0 0 0;
  min-height: 100vh;
}
.contact .banner {
  position: absolute;
  width: 100%;
  height: 100%;
}
.contact .banner img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background: no-repeat;
  position: absolute;
  z-index: -1;
}
.contact .banner::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100px;
  z-index: 1;
  background: linear-gradient(to bottom, #fff, transparent);
}
.contact .container {
  /* .contactBox {
    display: flex;
    position: relative;
    width: 100%;
    flex: 0 0 50%;
    padding: 20px;
    justify-content: space-between;

    .row {
      background: $bg-white-50;
      width: 35%;
      height: 50%;
      border-radius: 10px;
      box-shadow: $shadow;
      padding: 20px;

      .contactItem {
        width: 100%;
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        span {
          text-transform: capitalize;
          font-weight: 600;
          color: $text-sec-50;
        }
      }
    }
  } */
}
.contact .container .formBox {
  display: flex;
  position: relative;
  width: 100%;
  flex: 0 0 50%;
  margin-top: 35px;
  padding: 40px;
  justify-content: space-between;
}
.contact .container .formBox .row {
  background: #fff;
  width: 40%;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  padding: 20px;
}
.contact .container .formBox .row h3 {
  color: rgb(235, 146, 31);
  font-size: 20px;
  margin: 10px 0 10px 0;
  font-weight: 600;
}
.contact .container .formBox .row .inputBox:not(:last-child) {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
.contact .container .formBox .row .inputBox:not(:last-child) input,
.contact .container .formBox .row .inputBox:not(:last-child) textarea {
  width: 100%;
  background: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 10px;
  color: rgb(218, 128, 26);
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
}
.contact .container .formBox .row .inputBox:not(:last-child) input:hover,
.contact .container .formBox .row .inputBox:not(:last-child) textarea:hover {
  border: 1px solid rgb(235, 146, 31);
}
.contact .container .formBox .row .inputBox:not(:last-child) input:focus,
.contact .container .formBox .row .inputBox:not(:last-child) textarea:focus {
  border: 1px solid rgb(235, 146, 31);
}

.cp {
  margin: 17px 0 0 0;
  background: #fff;
  padding: 1px 30px;
  text-align: center;
  width: 100%;
  justify-content: center;
}
.cp p {
  color: #000;
}
.cp a {
  color: rgb(235, 146, 31);
  font-weight: 400;
  text-decoration: none;
}

@media (max-width: 996px) {
  header,
  header.sticky {
    padding: 10px 30px;
  }
  header .nav.active li a,
  header.sticky .nav.active li a {
    color: rgb(235, 146, 31);
    font-size: 28px;
    font-weight: 500;
    transition: all 0.5s ease;
  }
  header .nav.active li a:hover,
  header.sticky .nav.active li a:hover {
    color: #000;
  }
  header.sticky .menuToggle {
    filter: invert(0);
  }
  header .menuToggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(../images/menu-bar.png);
    cursor: pointer;
    filter: invert(1);
  }
  header .menuToggle.active {
    background: url(../images/close-bar.png);
    background-size: 40px;
    filter: invert(0);
    z-index: 100000;
  }
  header .nav {
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    transform: translateX(1000px);
    transition: all 0.5s ease;
  }
  header .nav.active {
    transform: translate(0);
    transform-origin: left;
  }
  .about .container .row .about-text .text-bx h3 {
    font-size: 20px;
  }
  .about .container .row .about-text .text-bx p {
    font-size: 16px;
  }
  .service .container .row {
    justify-content: center;
    height: 700px;
    margin: 0 50px;
    display: flex;
    flex-direction: row;
  }
  .gallery .container {
    margin: 0 20px;
  }
  .gallery .container .row {
    grid-template-columns: repeat(3, 225px);
    grid-template-rows: repeat(4, 225px);
  }
  .blog .container .blog-box .content .icons {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
  .blog .container .blog-box .content .icons a {
    margin: 5px;
  }
  .contact {
    min-height: 90vh;
  }
  .contact .container .formBox {
    width: 150%;
  }
  .contact .container .contactBox .row {
    flex: 0 0 50%;
    align-items: flex-start;
  }
}
@media (max-width: 768px) {
  .about .container .row {
    flex-direction: column;
    padding: 20px;
  }
  .about .container .row:last-child {
    flex-direction: column-reverse;
  }
  .about .container .row .about-img,
  .about .container .row .about-text {
    width: 100%;
  }
  .about .container .row .about-img {
    margin-bottom: 20px;
  }
  .gallery .container .row {
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(4, 200px);
  }
  .contact {
    margin: auto;
  }
  .contact .banner {
    display: none;
  }
  .contact .container {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
  }
  .contact .container .formBox {
    flex: 0 0 55%;
  }
  .contact .container .formBox .row {
    width: 100%;
    justify-content: center;
  }
  .contact .container .contactBox {
    align-items: center;
    flex-direction: 0 0 40%;
  }
}
@media (max-width: 425px) {
  section {
    padding: 0 15px;
    width: 100%;
    height: 100%;
  }
  .home .content {
    margin: 0 20px;
  }
  .home .content h2 {
    font-size: 56px;
  }
  .home .content p {
    font-size: 10px;
  }
  .about .container .row .about-text {
    text-align: center;
  }
  .menu .container .row .item:not(:last-child) {
    margin-bottom: 20px;
  }
  .gallery .conatiner .row {
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(6, 150px);
  }
  .gallery .conatiner .row .photo:nth-child(7) {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .contact .container {
    flex-direction: column;
  }
  .contact .container .formBox {
    flex: 0 0 100%;
    width: 100%;
    padding: 50px 15px 20px 15px;
  }
  .contact .container .contactBox {
    padding: 0 15px;
    flex: 0 0 100%;
  }
  .contact .container .contactBox .row {
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */