// ========== Google font
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Dancing+Script&family=Great+Vibes&family=Lora:wght@500&family=Nunito:wght@500&family=Playfair:wght@800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab&family=Rubik+Pixels&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Dancing+Script&family=Great+Vibes&family=Lora:wght@500&family=Nunito:wght@500&family=Playfair:wght@800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab&family=Rubik+Pixels&display=swap");

// ========== Variables

$bg-white-50: #fff;
$bg-white-100: #f5f5f5;
$bg-secondary-50: rgb(235, 246, 31);

$text-prl-50: #fff;
$text-sec-50: rgb(235, 146, 31);
$text-sec-100: rgb(218, 128, 26);
$text-black-50: #000;
$text-black-100: rgb(24, 24, 24);

$line-border: 0.1px solid rgba(0, 0, 0, 0.04);

$handwriting-font: "Great Vibes", cursive;

$shadow: 0 5px 20px rgba(0, 0, 0, 0.05);

// ========== Global settings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  text-decoration: none;
  list-style: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

// ========== Base
body {
  font-size: 15px;
  line-height: 1.5;
}

:before,
:after {
  box-sizing: border-box;
}

img {
  width: 100px;
}

.container {
  max-width: 1148px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
}

// ========== Section Tittle

// ========== Button settings
.btn-1 {
  font-size: 16px;
  color: $text-sec-50;
  border: 1px solid $bg-secondary-50;
  border-radius: 30px;
  display: inline-block;
  text-transform: capitalize;
  letter-spacing: 1.5;
  transition: 0.5s;
  font-weight: 500;
  cursor: pointer;
  padding: 6px 20px;
  max-width: 100px;
  background: transparent;

  &:hover {
    color: $bg-white-50;
    background: $bg-secondary-50;
  }
}

// ========== Keyframes

// ========== Page Loader

// ========== Navigation bar
header {
  //background-color: rgb(200, 113, 113);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 20px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;

  &.sticky {
    background: $bg-white-50;
    padding: 20px;
    box-shadow: $shadow;

    .logo {
      span {
        color: $text-black-50;
      }
    }

    .nav {
      li {
        a {
          color: $text-sec-50;

          &:hover {
            color: $text-black-50;
          }
        }
      }
    }
  }

  .logo {
    color: $text-sec-50;
    font-weight: 700;
    font-size: 40px;
    text-decoration: none;

    span {
      color: $text-prl-50;
    }
  }
  .nav {
    position: relative;
    display: flex;

    li {
      margin: 0 0 0 30px;

      a {
        color: $text-prl-50;
        font-weight: 550;
        text-transform: capitalize;

        &:hover {
          color: $text-sec-50;
        }
      }
    }
  }
}

// ========== Landing page
.homo {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(../images/p4.jpg) no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;

  &:hover {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: egba(0, 0, 0, 0.3);
  }

  .content {
    max-width: 900px;
    text-align: center;
    z-index: 2;

    h2 {
      font-size: 90px;
      font-weight: 600;
      font-family: $handwriting-font;
      color: $text-prl-50;
    }
    p {
      font-size: 20px;
      font-weight: 500;
      color: whitesmoke;
      margin-bottom: 20px;
    }
    a {
      color: $text-prl-50;
      border: $text-prl-50 1px solid;
      max-width: 200px;

      &:hover {
        background: $bg-white-50;
        color: $text-sec-50;
      }
    }
  }
}

// ========== About section

// ========== Service section

// ========== Menu section

// ========== Testimonials section

// ========== Gallery section

// ========== Team section

// ========== Blog section

// ========== Contact section

// ========== Copyright Section

// ========== Media queries

// ========== For laptop

// ========== For Tablet

// ========== For Mobile
